body.dragging {
  cursor: -webkit-grabbing !important;
}

body {
  margin: 0;
  padding: 0;
}

.jspsych-content.mw-100 {
  max-width: 100%;
}

.ie .gears-d3-canvas {
  /* ie fix :( */
  height: 768px;
}

.gears-d3-canvas {
  width: 100vw;
}

/*
.gears-d3-canvas svg {
  max-width: 1024px;
  max-height: 768px;
}
*/

.gear.dragging path,
.gear path:active {
  opacity: 0.5;
  cursor: -webkit-grabbing !important;
}

.gear path {
  cursor: move;
}

.gear:hover path {
  opacity: 0.9;
  stroke: #F6B25D;
  stroke-width: 2px;
}

.gear .bulb-path .bulb-light {
  opacity: 0;

  transition: all 800ms ease-in-out;
  -webkit-transition: all 800ms ease-in-out;
  -moz-transition: all 800ms ease-in-out;
  -o-transition: all 800ms ease-in-out;
}

/*
.gear.powered path {
  fill: #FFAE21 !important;
}
*/

.gear.pow path {
  fill: #FFAE21 !important;
}

.style-0 path {
  fill: #556270;
}

.style-1 path {
  fill: #4ECDC4;
}

.style-2 path {
  fill: #C7F464;
}

.style-3 path {
  fill: #FF6B6B;
}

.style-4 path {
  fill: #C44D58;
}
